<div class="ajax-contact-form" id="formul">
			<div class="container">
			
				<!-- Title -->
				<div class="title">
					<span>Sistema de evaluación de factibilidad de instalación de servicios fijos <b></b><b></b> </span>
				</div>
				
				<div class="form-holder">
				
					<!-- Notification -->
					<div class="notification canhide">
						<div class="wrapper">
							<div class="inner"></div>
						</div>
					</div>	
						
					<!-- Form -->				
					<form id="frm_contact" name="frm_contact" action="contact.php" method="post">
						

						<div class="field">
							<label for="servicios">Servicios</label>
							<div class="inputs">
								<select class="aweform" id="servicios" name="servicios">
								<option disabled>Seleccionar servicio..</option>
								<option th:each="ser : ${servicios}" th:value="${ser.id}" th:text="${ser.descripcion}" />
								</select>
							</div>  
						</div>						
						<div class="field">
							<label for="name">Nombre<span class="required">*</span></label>
							<div class="inputs">
								<input class="aweform" type="text" id="name" name="name" />
							</div>  
						</div>
						
						<div class="field">
							<label for="apellido">Apellido<span class="required">*</span></label>
							<div class="inputs">
								<input class="aweform" type="text" id="apellido" name="apellido" />
							</div>  
						</div>
						<div class="field">
									<label for="tipDoc">Tipo de documento</label>
									<div class="inputs">
										<select class="aweform" id="tipDoc" name="tipDoc" >
											<option disabled>Seleccionar tipo de documento..</option>
											<option th:each="tip : ${tiposDocumento}" th:value="${tip.idTipdoc}" th:text="${tip.descripcion}" />
										
										</select>
									</div>  
						 </div>						
						
						<div class="field">
							<label for="numDoc">Número documento <span class="required">*</span></label>
							<div class="inputs">
								<input class="aweform small" type="text" id="numDoc" name="numDoc" />
							</div>  
						</div>
						<div class="field">
							<label for="direc">Dirección <span class="required">*</span></label>
							<div class="inputs">
								<input class="aweform small" type="text" id="direc" name="direc" />
							</div>  
						</div>			
						
						<div class="form-submit">
							<button type="submit" id="submit" name="submit" disabled="disabled"><i class="fa fa-chevron-circle-right"></i> Registrar</button> <button type="submit" id="submit" name="submit"><i class="fa fa-chevron-circle-right"></i> Cancelar</button> <a th:href="@{/evaluar}"><u>Evaluar factibilidad</u></a>      
						</div>
					
							
						
					</form>
					
				</div>
				
			</div>
		</div>
		<!--
		#########################################
			- Ajax Contact Form / End -
		#########################################
		-->
			
